  body {
    height: 30%;
    margin: 0;
    background-color: #ffffff;
  }
  .box {
    background-color: #721001;
    height: 680px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  
  .images {
    width: 30%;
    margin-left: 1%;
  }
  .imagesform {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }
  
  .boxs {
    background-color: #721001;
    height: 1px;
    padding: 5px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .imagecoe {
    width: 10%;
    margin-right: 58%;
    margin-top: -10%;
  }