  body {
    height: 96%;
    margin: 0;
    background-color: #ffffff;
  }
  .topbox {
    width: 50%;
    max-width: 625px;
    margin-right: 150px;
  }
  .box {
    background-color: #721001;
    height: 580px;
    padding: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  