  body {
    height: 96%;
    margin: 0;
    background-color: #ffffff;
  }
  .topbox {
    background-image: url(../images/logopsu.png);
    background-color: #f7f7f7;
    height: 100px;
    padding: 5px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    background-color: #803220;
    height: 580px;
    padding: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }  